<h2>My Recipes</h2>
<hr>

<h4>Breakfast</h4>
<% let breakfastRecipes = userRecipes.filter( (recipe) => { %>
<%                          return recipe.mealType === 'Breakfast'; %>
<% }) %>

<% breakfastRecipes.forEach( (recipe, index) => { %>
<%   if (index === 0 || index % 4 === 0) { %>
       <div class="row"> <!-- first recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } else if (index % 3 === 0) { %> <!-- last recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
       </div> <!-- end of row -->
<%   } else {  %> <!-- recipe in middle of row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } %>
<% }) %>
<!-- insert final closing row div if the meal type array doesn't end at the end of a row -->
<% if (breakfastRecipes.length % 4 !== 0) { %>
     </div> <!-- end of row -->
<% } %>
<hr>

<h4>Lunch</h4>
<% let lunchRecipes = userRecipes.filter( (recipe) => { %>
<%                          return recipe.mealType === 'Lunch'; %>
<% }) %>

<% lunchRecipes.forEach( (recipe, index) => { %>
<%   if (index === 0 || index % 4 === 0) { %>
       <div class="row"> <!-- first recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } else if (index % 3 === 0) { %> <!-- last recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="..." alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
       </div> <!-- end of row -->
<%   } else {  %> <!-- recipe in middle of row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } %>
<% }) %>
<!-- insert final closing row div if the meal type array doesn't end at the end of a row -->
<% if (lunchRecipes.length % 4 !== 0) { %>
     </div> <!-- end of row -->
<% } %>
<hr>

<h4>Dinner</h4>
<% let dinnerRecipes = userRecipes.filter( (recipe) => { %>
<%                          return recipe.mealType === 'Dinner'; %>
<% }) %>

<% dinnerRecipes.forEach( (recipe, index) => { %>
<%   if (index === 0 || index % 4 === 0) { %>
       <div class="row"> <!-- first recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } else if (index % 3 === 0) { %> <!-- last recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
       </div> <!-- end of row -->
<%   } else {  %> <!-- recipe in middle of row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } %>
<% }) %>
<!-- insert final closing row div if the meal type array doesn't end at the end of a row -->
<% if (dinnerRecipes.length % 4 !== 0) { %>
     </div> <!-- end of row -->
<% } %>
<hr>

<h4>Dessert</h4>
<% let dessertRecipes = userRecipes.filter( (recipe) => { %>
<%                          return recipe.mealType === 'Dessert'; %>
<% }) %>

<% dessertRecipes.forEach( (recipe, index) => { %>
<%   if (index === 0 || index % 4 === 0) { %>
       <div class="row"> <!-- first recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } else if (index % 3 === 0) { %> <!-- last recipe in row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
       </div><br> <!-- end of row -->
<%   } else {  %> <!-- recipe in middle of row -->
         <div class="col-md-auto col-12">
           <div class="card" style="width: 18rem;">
             <img class="card-img-top" src="" alt="Card image cap">
             <div class="card-body">
               <h5 class="card-title"><%= recipe.recipeName %></h5>
               <p class="card-text">Prep time: <%= recipe.prepTime %><br>Cook time: <%= recipe.cookTime %></p>
               <a href="/profile/editRecipe"><button type="button" class="btn branded-btn editRecipeBtn" id="editRecipeBtn" data-id="<%=recipe._id%>">Edit recipe</button></a>
             </div>
           </div>
         </div>
<%   } %>
<% }) %>
<!-- insert final closing row div if the meal type array doesn't end at the end of a row -->
<% if (dessertRecipes.length % 4 !== 0) { %>
     </div> <!-- end of row -->
<% } %>

<!-- NEW RECIPE MODAL -->
    <div class="modal fade" id="editRecipeBtn" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit recipe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form method="POST" action="/api/recipes">
            <div class="container">
              <div class="modal-body">
                <div class="form-group" id="recipeNameGroup">
                  <div class="row">
                    <label for="recipeNameInput">Recipe name</label>
                    <input type="text" class="form-control" id="recipeNameInput" name="recipeNameInput">
                  </div>
                </div>
                <div class="form-group" id="mealTypeGroup">
                  <div class="row">
                    <label for="mealTypeSelect">Meal type</label>
                    <select class="form-control" id="mealTypeSelect" name="mealTypeSelect">
                      <option>Breakfast</option>
                      <option>Lunch</option>
                      <option>Dinner</option>
                      <option>Dessert</option>
                    </select>
                  </div>
                </div>
                <div class="form-group" id="ingredientsGroup">
                  <div class="row">
                    <label for="ingredientsLabel">Ingredients</label>
                  </div>
                  <div class="row text-left">
                    <div class="col-2">
                      <label for="ingredientQtyInput">Qty</label>
                    </div>
                    <div class="col-3">
                      <label for="ingredientMeasuringUnitSelect">Meas. Unit</label>
                    </div>
                    <div class="col-7">
                      <label for="ingredientItemInput">Item</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <input type="text" class="form-control" id="ingredientQtyInput" name="ingredientQtyInput">
                    </div>
                    <div class="col-3">
                      <select class="form-control" id="ingredientMeasuringUnitSelect" name="ingredientMeasuringUnitSelect">
                        <option>cup</option>
                        <option>fl oz</option>
                        <option>g</option>
                        <option>gallon</option>
                        <option>kg</option>
                        <option>l</option>
                        <option>lb</option>
                        <option>mg</option>
                        <option>ml</option>
                        <option>oz</option>
                        <option>pint</option>
                        <option>quart</option>
                        <option>tbs</option>
                        <option>tsp</option>
                        <option>whole</option>
                      </select>
                    </div>
                    <div class="col-7">
                      <input type="text" class="form-control" id="ingredientItemInput" name="ingredientItemInput">
                    </div>
                  </div>
                </div>
                <div class="form-group" id="prepInstructionsGroup">
                  <div class="row">
                    <label for="prepInstructionsInput">Prep instructions</label>
                    <textarea class="form-control" id="prepInstructionsTextArea" rows="3"  name="prepInstructionsTextArea"></textarea>
                  </div>
                </div>
                <div class="form-group" id="prepTimeGroup">
                  <div class="row">
                    <label for="prepTimeInput">Prep time</label>
                    <input type="text" class="form-control" id="prepTimeInput" name="prepTimeInput" placeholder="10 minutes">
                  </div>
                </div>
                <div class="form-group" id="cookTimeGroup">
                  <div class="row">
                    <label for="cookTimeInput">Cook time</label>
                    <input type="text" class="form-control" id="cookTimeInput" name="cookTimeInput" placeholder="15 minutes">
                  </div>
                </div>
                <div class="form-group" id="servingSizeGroup">
                  <div class="row">
                    <label for="servingSizeSelect">Serving size</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <select class="form-control-sm" id="servingSizeSelect" name="servingSizeSelect">
                      <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" id="saveRecipeBtn" value="Save recipe">
              </div>
            </div> <!-- close container -->
          </form>

        </div>
      </div>
    </div> <!-- end modal -->