<h3><%=userRecipe[0].recipeName%></h3>
<br>
<div class="container">
  <h5>Ingredients:</h5>
  <ul>
  <% userRecipe[0].ingredients.forEach( (ingredient) => { %>
       <li><%= ingredient.qty %> <%= ingredient.measuringUnit %> <%= ingredient.ingredientName %></li>
  <% }) %>
  </ul>
  <h5>Prep Instructions:</h5>
  <p><%= userRecipe[0].prepInstructions %></p>
  <h5 style="display: inline;">Prep time: </h5><span><%= userRecipe[0].prepTime %></span><br>
  <h5 style="display: inline;">Cook time: </h5><span><%= userRecipe[0].cookTime %></span>
  <br><br><br>
  <div class="text-right">
    <a href="/profile" class="btn" id="cancelLink">Cancel</a>
    <a href="/profile"><input type="button" class="btn btn-danger pull-right" id="deleteRecipeBtn" data-id="<%=userRecipe[0]._id%>" value="Delete recipe"></a>
  </div>
</div>